@{
    ViewBag.Title = "Home Page";
}
<div class="container body-content">

    <h3 class="text-uppercase">OS MEUS PRODUTOS</h3>

    <div class="row">

        @Html.Partial("_ToBeImplementedView")

    </div>
</div>